<h1><%= t('.title') %></h1> <!-- "All Messages" -->
<p>
  <%= t('.switch_to') %><%= link_to t('.incoming_mail'), mailbox_in_messages_path %> | <%= link_to t('.outgoing_mail'), mailbox_out_messages_path %>  <!-- "Switch to: ", "Incoming Mail", "Outgoing Mail" -->
</p>
<p>
  <%= link_to t('.new_message'), new_message_path %> <!-- "New Message" -->
</p>
<table class="sortable-table">
  <thead>
    <tr>
      <th data-sort="name"><%= t('.from') %></th> <!-- "From" -->
      <th data-sort="name"><%= t('.to') %></th> <!-- "To" -->
      <th data-sort="subject"><%= t('.subject') %></th> <!-- "Subject" -->
      <th data-sort="date"><%= t('.date') %></th> <!-- "Date" -->
      <th><%= t('.time') %></th> <!-- "Time" -->
      <th data-sort="name"><%= t('.type') %></th> <!-- "Type" -->
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @messages %>
  </tbody>
</table>
<%= javascript_tag "sort();" %>