<!-- Contact info I18n'ed so it can be customized/modified without editing the HTML -->
<h1><%= t('.title') %></h1>  <!-- "Contact Us Page" -->
<br />
<div id="contact_info">
  <p><%= t('.how_to_contact') %></p> <!-- "Want to contact us? Here's how!" -->
  <br />
  <address>
    <p>
      <%= t('.email_label') %> <a href=<%= "mailto:#{t('.email')}" %>><%= t('.email') %></a><br /><!-- "email:", "spirit_of_the_north@example.com" -->
      <%= t('.phone_label') %> <%= t('.phone') %><br /><!-- "Phone:", "608-555-1234" -->
      <%= t('.address_label') %> <%= t('.address') %><!-- "Address:", "1234 Test Dr, Madison, WI  53719" -->
    </p>
  </address>
  <div id="map">map</div> <!-- This should not display, so no I18n needed -->
</div>
<br /><br />
<!-- JavaScript to display Google map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<%= javascript_tag "initializeMap();" %>