<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> <%= t('activerecord.errors.template.header') %></h2> <!-- " prohibited this record from being saved" -->

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_file, t('.product_image') %><br> <!-- "Product Image" -->
    <% if @product.image_file_name.nil? %>
      <%= f.file_field(:image_file, accept: 'image/jpeg') %>
    <% else %>
      <%= image_tag("#{Rails.env}/products/#{@product.image_file_name}", size: "300x300", alt: @product.name) %><br />
      <%= link_to(t('.delete_image'), delete_image_product_path(@product), data: { confirm: t('.are_you_sure') }) %> <!-- "Delete Image" "The image will immediately be deleted from the web server and this action cannot be un-done. Are you sure you want to permanently delete this image?" -->
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :product_type_id %><br>
    <%= collection_select(:product, :product_type_id, ProductType.all, :id, :name, {prompt: t('.select_type')}) %> <!-- "Select Type" -->
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.date_select(:release_date, start_year: Date.today.year, end_year: Date.today.year+2, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>

  <div class="actions">
    <%= submit_or_return_to_index(f) %>
  </div>
<% end %>
