<h1><%= t('.title') %></h1>  <!-- "Listing Products" -->

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= t('.name') %></th> <!-- "Name" -->
      <th><%= t('.price') %></th> <!-- "Price" -->
      <th><%= t('.product_type') %></th> <!-- "Product Type" -->
      <th><%= t('.rating') %></th> <!-- "Rating" -->
      <th><%= t('.description') %></th> <!-- "Description" -->
      <th><%= t('.release_date') %></th> <!-- "Release Date" -->
      <th><%= t('.active') if admin_user? %></th> <!-- "Active?" -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag("#{Rails.env}/products/#{product.image_file_name}", size: "30x30", alt: product.name) unless product.image_file_name.nil? %></td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.price %></td>
        <td><%= product.product_type.name unless product.product_type.nil? %></td>
        <td><%= product.average_rating %></td>
        <td><%= product.description %></td>
        <td><%= product.release_date %></td>
        <td><%= product.active if admin_user? %></td>
        <td><%= link_to(t('.edit'), edit_product_path(product)) if admin_user? %></td> <!-- "Edit" -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to(t('.new_product'), new_product_path) if admin_user? %> <!-- "New Product" -->
