<!DOCTYPE html>
<html>

<head>
  <title><%= t('application.title') %></title> <!-- "Spirit of the North Distillery" -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="header">
    <%= image_tag("logo.jpg", size: "100x100", alt: "Wolf Logo", id: "logo") %>
    <h1><%= link_to t('application.root_link'), root_path %></h1> <!-- "Spirit of the North" -->
    <div id="menu_bar">
      <% if admin_user? %>
        <%= render(file: '/layouts/_admin_menu_bar.html.erb') %>
      <% elsif logged_in? %> 
        <%= render(file: '/layouts/_user_menu_bar.html.erb') %>
      <% else %>
        <%= render(file: '/layouts/_not_logged_in_menu_bar.html.erb') %>
      <% end %>
    </div>
  </div>

  <div id="main">
    <%= content_tag :p, notice, class: "notice" if notice.present? %>
    <%= content_tag :p, alert, class: "alert" if alert.present? %>
    <%= yield %>
  </div>

  <div id="footer"><%= t('application.footer') %></div>  <!-- "Sprit of the North Distillery, Copyright 2014" -->
</body>

</html>
